---
import { Image } from "astro:assets";
import config from "@config/config.json";
import Share from "@components/Share.astro";
import SimilarPosts from "@components/SimilarPosts.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import similerItems from "@lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt, BiPurchaseTagAlt } from "react-icons/bi/index.js";

import Ingeredients from "./components/Ingeredients.astro";
import KeyFacts from "./components/KeyFacts.astro";

const base_path = config.site.base_path;
const posts = await getSinglePage("posts");
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await post.render();
const {
  title,
  description,
  categories,
  image,
  tags,
  zubereitungszeit,
  zutaten,
  aufwand,
} = post.data;
---

<section class="section">
  <div class="container">
    <article class="row justify-center">
      <!-- HEADING, CATEGORIES, TAGS -->
      <div class="text-center md:col-10">
        <h1 set:html={markdownify(title)} class="h2" />
        <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
          <li class="mx-3 flex flex-wrap items-center">
            <BiCategoryAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />
            <>
              <ul>
                {
                  categories.map((category: string, i: number) => (
                    <li class="inline-block">
                      <a
                        href={`${base_path}/categories/${slugify(category)}`}
                        class="mr-2 font-medium hover:text-primary"
                      >
                        {humanize(category)}
                        {i !== categories.length - 1 && ","}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </>
          </li>
          <li class="mx-3 flex flex-wrap items-center">
            <BiPurchaseTagAlt
              className="mr-1 h-[18px] w-[18px] text-gray-600"
            />
            <>
              <ul>
                {
                  tags.map((tag: string, i: number) => (
                    <li class="inline-block">
                      <a
                        href={`${base_path}/tags/${slugify(tag)}`}
                        class="mr-2 font-medium hover:text-primary"
                      >
                        {humanize(tag)}
                        {i !== tags.length - 1 && ","}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </>
          </li>
        </ul>
      </div>

      <!-- HERO IMAGE -->
      <div class="col-12 mb-2 mt-8">
        {
          image && (
            <Image
              src={`${base_path}/${image}`}
              height={500}
              width={1000}
              alt={title}
              class="h-80 w-full rounded-lg object-cover"
            />
          )
        }
      </div>

      <div class="sm:col-10">
        <!-- KEY FACTS -->
        <KeyFacts
          zutaten={zutaten}
          zubereitungszeit={zubereitungszeit}
          aufwand={aufwand}
        />

        <!-- DESCRIPTION -->
        <div class="content mb-8 mt-10 text-left">
          <p class="text-lg italic">{description}</p>
        </div>

        <!-- INGREDIENTS - TODO -->
        <Ingeredients zutaten={zutaten} />

        <!-- INSTRUCTIONS -->
        <div class="content mb-16 text-left">
          <Content />
        </div>

        <!-- TAGS -->
        <div class="flex flex-wrap items-center justify-between">
          <ul class="mb-4 mr-4 space-x-3">
            {
              tags.map((tag: string) => (
                <li class="inline-block">
                  <a
                    href={`${base_path}/tags/${slugify(tag)}`}
                    class="block rounded-lg bg-theme-light px-4 py-2 text-sm font-semibold text-dark transition duration-300 hover:text-primary"
                  >
                    #{humanize(tag)}
                  </a>
                </li>
              ))
            }
          </ul>
          <Share
            className="social-share mb-4"
            title={title}
            description={description}
            slug={post.slug}
          />
        </div>
      </div>
    </article>
  </div>
</section>

<!-- similar posts -->
{
  similarPosts.length > 0 && (
    <section class="section pt-0">
      <div class="container">
        <h2 class="h3 mb-8 text-center">Similar Posts</h2>
        <SimilarPosts posts={similarPosts.slice(0, 3)} />
      </div>
    </section>
  )
}
