---
import { Image } from "astro:assets";
import config from "@config/config.json";
import Share from "@components/Share.astro";
import SimilarPosts from "@components/SimilarPosts.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import similerItems from "@lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@lib/utils/textConverter";

import Ingeredients from "./components/Ingeredients.astro";
import KeyFacts from "./components/KeyFacts.astro";
import Tags from "./components/Tags.astro";
import Categories from "./components/Categories.astro";

const base_path = config.site.base_path;
const posts = await getSinglePage("posts");
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await post.render();
const {
  title,
  description,
  image,
  categories,
  tags,
  preptime,
  effort,
  servings,
  ingredients,
} = post.data;
---

<section class="section">
  <div class="container">
    <article class="row justify-center">
      <!-- HEADING, CATEGORIES, TAGS -->
      <div class="text-center md:col-10">
        <h1 set:html={markdownify(title)} class="h2" />
        <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
          <li class="mx-3 flex flex-wrap items-center">
            <Categories categories={categories} />
          </li>
          <li class="mx-3 flex flex-wrap items-center">
            <Tags tags={tags} />
          </li>
        </ul>
      </div>

      <!-- HERO IMAGE -->
      <div class="col-12 mb-2 mt-8">
        {
          image && (
            <Image
              src={`${base_path}/${image}`}
              height={500}
              width={1000}
              alt={title}
              class="h-80 w-full rounded-lg object-cover"
            />
          )
        }
      </div>

      <div class="sm:col-10">
        <!-- KEY FACTS -->
        <KeyFacts
          zutaten={ingredients}
          zubereitungszeit={preptime}
          aufwand={effort}
        />

        <!-- DESCRIPTION -->
        <div class="content mb-8 mt-10 text-left">
          <p class="text-lg italic">{description}</p>
        </div>

        <!-- INGREDIENTS - TODO -->
        <Ingeredients servings={servings} ingredients={ingredients} />

        <!-- INSTRUCTIONS -->
        <div class="content mb-16 text-left">
          <Content />
        </div>

        <!-- TAGS -->
        <div class="flex flex-wrap items-center justify-between">
          <ul class="mb-4 mr-4 space-x-3">
            {
              tags.map((tag: string) => (
                <li class="inline-block">
                  <a
                    href={`${base_path}/tags/${slugify(tag)}`}
                    class="block rounded-lg bg-theme-light px-4 py-2 text-sm font-semibold text-dark transition duration-300 hover:text-primary"
                  >
                    #{humanize(tag)}
                  </a>
                </li>
              ))
            }
          </ul>
          <Share
            className="social-share mb-4"
            title={title}
            description={description}
            slug={post.slug}
          />
        </div>
      </div>
    </article>
  </div>
</section>

<!-- similar posts -->
{
  similarPosts.length > 0 && (
    <section class="section pt-0">
      <div class="container">
        <h2 class="h3 mb-8 text-center">Ähnliche Rezepte</h2>
        <SimilarPosts posts={similarPosts.slice(0, 3)} />
      </div>
    </section>
  )
}
